.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 40px auto;
}

.heroes-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.hero-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    gap: 10px;
    border: 1px solid black;
    max-width: 180px;
    text-align: center;
    word-wrap: break-word;
}

.hero-nickname {
    max-width: 180px;
}

.hero-image {
    width: 180px;
    height: 150px;
}

.btn-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}