.heroes-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.hero-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-image {
    width: 180px;
    height: 150px;
}
