.edit-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.inputs-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.textarea {
    width: 100%;
    resize: vertical;
}

.input {
    width: 100%;
}

.load-file-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    margin-top: 20px;
}

.existing-images-wrapper {
    text-align: center;
}

.existing-images {
    display: flex;
    gap: 20px;
}

.existing-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.existing-image {
    width: 180px;
    height: 150px;
}

.error {
    color: red;
}